/*header*/

header #intro .author {
  font-size: 60px;
  font-family: cursive;
  color: Orange;
}

header {
  border-bottom: 5px solid;
  background-color: grey;
  color: White;
  border-bottom: solid 3px;
  background-image: url(https://s-media-cache-ak0.pinimg.com/originals/24/87/22/248722cf24e106b67494247689be1016.jpg);
}

header li {
  float: left;
  list-style: none;
  width: 180px;
  font-size: 20px;
  font-family: fantasy;
  margin-top: 40px;
}

header a:hover {
  color: orange;
  cursor: pointer;
}

header img {
  height: 120px;
  width: 120px;
  float: right;
  padding-bottom: 15px;
}


/*body*/

.green-background {
  background-color: green;
}

.yellow-background {
  background-color: yellow;
}

.red-background {
  background-color: red;
}
